@font-face {
    font-family: 'Raleway';
    src: url('Fonts/Raleway/Raleway-VariableFont_wght.ttf');
}

body {
    color:black;
    font-family: 'Raleway';
    margin-left: 5%;
    width: 1410px;
   /* padding: 25px;*/
    }
#header {
    display:flex ;
    
    flex-direction: row;
    justify-content: space-between;
}

#header img {
    display: flex;
    justify-content: space-around;
}

/*#header ul {
    display: flex;
    flex-basis: 30%;
    list-style: none;
    justify-content: space-around;
}*/

#lien_header {
    display: flex;
    flex-basis: 30%;
    list-style: none;
    justify-content: space-around;
}

.linkheader {
    display: flex;
    text-decoration: none;
    align-items: center;
    height: 100%;
}

.linkheader:hover{
    border-top: solid #2570e0;
    font-weight: bold;
}

#header_hbt, #header_actvt {
    color:  black;
}

#header_log {
    color: #2570e0;
    font-weight: bold;
}

#recherche {
    margin-bottom: 25px;
}
.map{
    background-color: #f2f2f2;
    font-size: 18px;
    padding: 15px;
    text-align: center;
    border-radius: 15px 0px 0px 15px;
    margin: 0px;
    height: 20px;
}

#input {
    margin-left: -4px;
    height: 50px;
    width: 190px;
    border-color:#F2F2F2;
    border-style: solid;
}

#bouton_shearch {
    color: cornsilk;
    border: none;
    border-radius: 0  15px 15px 0;
    background-color: #0065FC;
    height: 50px;
    width: 105px;
    margin-left: -4px;
}



.filtre_bouton {
    display: flex;
    height: 40px;
    border-color:#F2F2F2;
    border-style: solid;
    border-radius: 50px;
    /*width: 220px;*/
    align-items: center;
    /*margin: 10px 10px 0 0;*/
    /*padding-left: 25px;*/
    justify-content: space-evenly;
    padding-right: 18px;
    margin-right: 10px;
    margin-left: 10px;
}

.filtre_bouton:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}

.filtre_bouton p {
    /*padding-left: 30%;*/
    font-weight: bold;
    font-size: 16px;
}

#texte_filtre {
    display: flex;
}

#text_filtre p {
    text-align: center;
}
.infologo{
    border: 2px solid #f2f2f2;
    padding: 6px;
    border-radius: 50px;
    width: 18px;
    height: 18px;
    text-align: center;
    margin-right: 10px;
    color: #0065FC;
}

#filtre {
    display: flex;
    flex-direction:row;
    /*justify-content: space-around;*/
    text-align: center;
}


.icon_filtre {
    color: #0065FC;
    width: 20px;
    border-radius: 50%;
    align-items: center;
    
}

.icon_content {
    display: flex;
    justify-content: center;
    background: #d4e4fc;
    height: 40px;
    /* flex-basis: 40%; */
    width: 40px;
    border-radius: 100%;
    align-items: center;
    margin-right: 15px;
    
}

#HbtMarseille {
    display: flex;
   flex-direction: row;
}

#hebergements {
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
    border-radius: 30px;
    flex-basis: 65%;

    margin: 1% 1%;
    padding: 1em;
}

#more {
    margin-left: 30px;
    font-weight: bold;
}

#more:hover{
    text-decoration: underline;
    color: #0065FC;
}

.img-hebergement {
    width: 100%;
    height: 130px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    display: flex;
    margin: auto;

}

.img-populaire {
    object-fit: cover;
    height: 100% ;
    width: 170px;
    border-radius: 15% 0% 0% 15%

}
/*
#hbrow1 {   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#hbrow2 {  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}*/

#hbt-grille {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.bloc_hbt {
    height: 220px;
    width: 250px;
    border-radius: 20px;
    padding: 5px;
    background: #FFFFFF;
    box-shadow: 1px 1px 12px #C1C7C7;
    margin: 15px;

}

.bloc_hover:hover {
    background-color: #f8f8f8;
    box-shadow: 6px 1px 12px #adb3b3;
    cursor: pointer;
}

.text_hbt {
    /*padding: 15px;*/
    margin: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text_hbt p {
    /*padding: 15px;*/
    margin: 0px;
}

.grade {
    margin: 0px;
}

.etoilebleu {
    margin: 0px;
    color: #0065FC;
}

.text_hbt h3 {
    margin: 0px;
}

#Populaires {  
    display: flex;
    flex-direction: column;
    justify-content: space-around ;

    
    /* max-width: 1400px;*/
    background: #F2F2F2;
    border-radius: 30px;

    margin: 1% 1%;
    padding: 1em;
}

/*div,article {
    border: solid;
    border-color: blue;
}
*/


.bloc_popu {
    
    WIDTH: 388px;
    display: flex;
    height: 160px;
    border-radius: 30px;
    padding: 5px;
    background: #FFFFFF;
    box-shadow: 1px 1px 12px #c1c7c7;
    margin: 17px;

}
.text_popu {
    /*padding: 15px;*/
    margin: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logopopu {
   margin-top: 20px;
    font-size: 30px;
}

#title-popu {
    /*display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;*/

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin: 0px 15px 0px 18px;
}

#footer {
    display: flex;
    padding-top: 10px;
    flex-direction: row;
    justify-content: space-around;
    background: #F2F2F2;
}

ul{
    list-style: none;
}

#apropos {
    margin-left: -130px;
}


#Activite {
    display: flex;
    flex-direction: row;
}

.img-activite {
    width: 325px;
    height: 450px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    display: flex;
    margin: auto;

}
.img-activite2 {
    width: 100%;
    height: 190px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    display: flex;
    margin: auto;
}
.box-activité {
    height: 500px;
    width: 325px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 1px 1px 12px #C1C7C7;
    margin: 15px;
}
.box-activité2 {
    height: 240px;
    width: 325px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 1px 1px 12px #C1C7C7;
    margin: 15px;
}

#Activite h3 {
   /* margin: 5%;*/
    margin-top: 3%;
    margin-left: 3%;
}
/*.bloc_popu h3 {
    margin: 5%;
 }*/

/*.bloc_hbt h3 {
   margin: 5%;
}*/

/*.texthbt {
    display: flex;
    flex-direction: column;
    justify-content: left;
}*/
@media screen and (max-width: 767px) {
    body {
        max-width: 767px;
        }

        #Populaires {
            border-radius: 0px;
            margin: -10px;
        }

        
    body{
        max-width: 1024px;
        margin-left: 2%;
    }

    h2 {
        font-size: 60px;
        font-weight: bold;
        margin-left: 20px;
    }

    header{
        max-width: 1023px;
        width: 96%;
        margin: auto;
    }

    #lien_header {
        margin-left: -50px;
    }

    .map{
        background-color: #f2f2f2;
        font-size: 35px;
        padding: 42px;
        text-align: center;
        border-radius: 20px 0px 0px 20px;
        /*margin-left: 50px;*/
        width: 50px;
        height: 60px;
        margin-top: -10px;
    }
    

    #input {
       /* margin-left: 65px;*/
        height: 140px;
        width: 700px;
        border-color: #F2F2F2;
        border-style: solid;
        padding-top: 35px;
        font-size: 50px;
        padding-left: 30px;
        padding-bottom: 70px;
        font-family: 'Raleway';
    }

    #bouton_shearch {    
        color: cornsilk;
        border: none;
        border-radius: 30px;
        background-color: #0065FC;
        height: 140px;
        width: 130px;
        padding-top: 0px;
        margin-left: -10px;
    }
    
    #filtre_bouton {
        display: flex;
        height: 120px;
        border-color: #F2F2F2;
        border-style: solid;
        border-radius: 50px;
        /* width: 220px; */
        align-items: center;
        /* margin: 10px 10px 0 0; */
        /* padding-left: 25px; */
        justify-content: space-evenly;
        padding-right: 18px;
        margin-right: 10px;
        margin-left: 10px;
    }

    #HbtMarseille {
        display: flex;
        flex-direction: column-reverse;
    }


    .bloc_popu {
        height: 400px;
        width: inherit;
        border-radius: 55px;
        padding: 8px;
    }

    .text_popu {
       /* padding: 15px; */
        margin: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 40px;
        margin-top: -20px;
    }

    .text_popu p{
        margin-top: -15px;
        margin-bottom: 140px;
    }

    #logopopu {
        margin-top: 60px;
        font-size: 60px;
    }

    .img-populaire {
        object-fit: cover;
        height: 99%;
        width: 400px;
        border-radius: 12% 0% 0% 12%;
        margin-right: 30px;
    }

    #hebergements {
        max-width: 1023px;
        display: flex;
        flex-direction: column;
        background: none;
        flex-basis: 65%;
    
        margin: 1% 1%;
        padding: 1em;
    }

    #hbt-grille {
         display: flex;
         flex-direction: column;
    }

    .bloc_hbt {
        height: 500px;
        width: inherit;
        border-radius: 50px;
        padding: 10px;
        background: #FFFFFF;
        box-shadow: 1px 1px 12px #c1c7c7;
        margin: 15px;
    
    }

    .img-hebergement{
        height: 70%;
        border-radius: 45px 45px 0px 0px;
    }

    .text_hbt {
        /* padding: 15px; */
        font-size: 31px;
    }

    #Activite {
        display: flex;
        flex-direction: column;
    }
    #actmars {
        margin: 17px;
    }
    

    .box-activité,  .box-activité2{
        height: 500px;
        width: inherit;
        /*width: 389px;*/
        border-radius: 50px;
        /*padding: 5px;*/
        background: #FFFFFF;
        box-shadow: 1px 1px 12px #c1c7c7;
        margin: 15px;
    
    }

    .img-activite, .img-activite2{
        width: 100%;
        height: 75%;
        border-radius: 45px 45px 0px 0px;
        object-fit: cover;
        display: flex;
        margin: auto;
    }

    #Activite h3 {
        /* margin: 5%; */
        margin-top: 4%;
        margin-left: 3%;
        font-size: 40px;
    }


    #footer{
        margin-left: -20px;
    }

    #apropos {
         margin-left: 0px; 
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    body{
        max-width: 1024px;
        margin-left: 2%;
    }

    header{
        max-width: 1023px;
        width: 96%;
        margin: auto;
    }

    #lien_header {
        margin-left: -50px;
    }

    #HbtMarseille {
        display: flex;
        flex-direction: column-reverse;
    }


    .bloc_popu {
        height: 180px;
        width: inherit;
    }

    #hebergements {
        max-width: 1023px;
        display: flex;
        flex-direction: column;
        background: none;
        flex-basis: 65%;
    
        margin: 1% 1%;
        padding: 1em;
    }

    #hbt-grille {
         display: flex;
         flex-direction: column;
    }

    .bloc_hbt {
        height: 245px;
        width: inherit;
        border-radius: 20px;
        padding: 5px;
        background: #FFFFFF;
        box-shadow: 1px 1px 12px #c1c7c7;
        margin: 15px;
    
    }

    .img-hebergement{
        height: 155px;
    }

    #Activite {
        display: flex;
        flex-direction: column;
    }
    #actmars {
        margin: 17px;
    }
    

    .box-activité,  .box-activité2{
        height: 220px;
        width: inherit;
        /*width: 389px;*/
        border-radius: 20px;
        /*padding: 5px;*/
        background: #FFFFFF;
        box-shadow: 1px 1px 12px #c1c7c7;
        margin: 15px;
    
    }

    .img-activite, .img-activite2{
        width: 100%;
        height: 170px;
        border-radius: 15px 15px 0px 0px;
        object-fit: cover;
        display: flex;
        margin: auto;
    }

    #Activite h3 {
        /* margin: 5%; */
        margin-top: 2%;
        margin-left: 3%;
    }

    /*#footer {
        display: flex;
        padding-top: 5px;
        flex-direction: column;
        justify-content: space-around;
        background: #F2F2F2;
        padding-left: 58px;
        max-width: 1023px;
        margin-left: -20px;
    }*/

    #footer{
        margin-left: -20px;
    }

    #apropos {
         margin-left: 0px; 
    }
}