@font-face {
    font-family: 'Raleway';
    src: url('Fonts/Raleway/Raleway-VariableFont_wght.ttf');
}

body {
    color:black;
    font-family: 'Raleway';
    max-width: 1410px;
    margin: 0 auto;
    }

#header {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 1fr 1fr 1fr;
    height: 70px;
    align-content: end;
}

#header img {
    display: flex;
    grid-column: 1/4;
    justify-content: space-around;
    align-self: center;
}

#lien_header {
    display: flex;
    flex-basis: 30%;
    list-style: none;
    justify-content: space-around;
}

.linkheader {
    display: flex;
    text-decoration: none;
    align-items: center;
    height: 65px;
    justify-content: center;
}

.linkheader:hover{
    border-top: solid #2570e0;
    font-weight: bold;
}

#header_hbt, #header_actvt {
    color:  black;
}

#header_log {
    color: #2570e0;
    font-weight: bold;
}

#recherche {
    margin-bottom: 25px;
}
.map{
    background-color: #f2f2f2;
    font-size: 18px;
    padding: 15px;
    text-align: center;
    border-radius: 15px 0px 0px 15px;
    margin: 0px;
    height: 20px;
}

#input {
    margin-left: -4px;
    height: 50px;
    width: 190px;
    border-color:#F2F2F2;
    border-style: solid;
}

#bouton_shearch {
    color: cornsilk;
    border: none;
    border-radius: 0  15px 15px 0;
    background-color: #0065FC;
    height: 50px;
    width: 105px;
    margin-left: -4px;
}

.icon_search {
        display : none;
        font-size: 0px;
    }



.filtre_bouton {
    display: flex;
    height: 40px;
    border-color:#F2F2F2;
    border-style: solid;
    border-radius: 50px;
    align-items: center;
    padding-right: 18px;
    margin-right: 10px;
    margin-left: 10px;
}

.filtre_bouton:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}

.filtre_bouton p {
    font-weight: bold;
    font-size: 16px;
}

#texte_filtre {
    display: flex;
}

#text_filtre p {
    text-align: center;
}
.infologo{
    border: 2px solid #f2f2f2;
    padding: 6px;
    border-radius: 50px;
    width: 18px;
    height: 18px;
    text-align: center;
    margin-right: 10px;
    color: #0065FC;
}

#filtre {
    display: flex;
    flex-direction:row;
    text-align: center;
}


.icon_filtre {
    color: #0065FC;
    width: 20px;
    border-radius: 50%;
    align-items: center;
    
}

.icon_content {
    display: flex;
    justify-content: center;
    background: #d4e4fc;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    align-items: center;
    margin-right: 15px;
    
}

#HbtMarseille {
    display: flex;
   flex-direction: row;
}

#hebergements {
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
    border-radius: 30px;
    flex-basis: 65%;

    margin: 1% 1%;
    padding: 1em;
}

#more {
    margin-left: 30px;
    font-weight: bold;
}

#more:hover{
    text-decoration: underline;
    color: #0065FC;
}

.img-hebergement {
    width: 100%;
    height: 130px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    display: flex;
    margin: auto;

}

.img-populaire {
    object-fit: cover;
    height: 100% ;
    width: 170px;
    border-radius: 15% 0% 0% 15%

}

#hbt-grille {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.bloc_hbt {
    height: 220px;
    width: 250px;
    border-radius: 20px;
    padding: 5px;
    background: #FFFFFF;
    box-shadow: 1px 1px 12px #C1C7C7;
    margin: 15px;

}

.bloc_hover:hover {
    background-color: #f8f8f8;
    box-shadow: 6px 1px 12px #adb3b3;
    cursor: pointer;
}

.text_hbt {
    margin: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.text_hbt h3 {
    margin: 0px;
    margin-bottom: 0.4em;
}

.text_hbt p {
    margin: 0px;
    margin-bottom: 0.2em;
}

.grade {
    margin: 0px;
}

.etoilebleu {
    margin: 0px;
    color: #0065FC;
}

.etoilegris {
    margin: 0px;
    color: #dfdede;
}

#Populaires {  
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
    background: #F2F2F2;
    border-radius: 30px;

    margin: 1% 1%;
    padding: 1em;
}


.bloc_popu {
    
    WIDTH: 388px;
    display: flex;
    height: 160px;
    border-radius: 30px;
    padding: 5px;
    background: #FFFFFF;
    box-shadow: 1px 1px 12px #c1c7c7;
    margin: 17px;

}
.text_popu {
    margin: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logopopu {
   margin-top: 20px;
    font-size: 30px;
}

#title-popu {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin: 0px 15px 0px 18px;
}

#footer {
    display: flex;
    padding-top: 10px;
    flex-direction: row;
    justify-content: space-around;
    background: #F2F2F2;
}

ul{
    list-style: none;
}

#apropos {
    margin-left: -130px;
}


#Activite {
    display: flex;
    flex-direction: row;
}

.img-activite {
    width: 325px;
    height: 450px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    display: flex;
    margin: auto;

}
.img-activite2 {
    width: 100%;
    height: 190px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    display: flex;
    margin: auto;
}
.box-activité {
    height: 500px;
    width: 325px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 1px 1px 12px #C1C7C7;
    margin: 15px;
}
.box-activité2 {
    height: 240px;
    width: 325px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 1px 1px 12px #C1C7C7;
    margin: 15px;
}

#Activite h3 {
    margin-top: 3%;
    margin-left: 3%;
}

@media  screen and (max-width: 767px) {
    
      
    body{
        max-width: 767px;
       font-size: 71%;
       width: 100%;
    }

    #header{
        max-width: 767px;
        width: 96%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 0%;
        align-content: end;
    }

    .linkheader {
        margin-left: 10%;
        margin-right: 10%;
    }

    #header_log{
        margin-right: 0%;
        grid-area: 1/2;
    }

    #header_actvt {
        border-bottom: solid #f2f2f2;
        
        font-weight: bold;
        margin-left: 0;
        margin-right:0;
    }

    #header_hbt {
        color: #2570e0;
        border-bottom: solid #2570e0;
        font-weight: bold;
        place-items: center;
        margin-left: 0;
        margin-right:0;
    }

    #header img {
        grid-area: 1/1;
        margin-left: 4%;
    }

    #titre_texte {
        margin-left: 4%;
    }

    #input {
        width: 70%;
    }

    button p{
        visibility: hidden;
    }

    #recherche {
        margin-bottom: 25px;
        margin-left: 4%;
    }

    #bouton_shearch {
        width: 15%;
    }

    #text_search {
        display : none;
    }

    .icon_search {
        display: initial ;
        font-size: initial;
    }

    #filtre {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        margin-left: 4%;
    }

    .filtre_bouton {
        margin-left: 0;
        margin-bottom: 8px;
    }

    .filtre_bouton p {
        font-size: 100%;
    }

    #filtre h2 {
        margin-left: -165px;
    }

    #filtre_economique {
        grid-area: 2/1;
        width: 12em;
        margin-right: 70px;
    }

    #filtre_familial {
        grid-area: 2/2;
        width: 9em;
        margin-right: 39%;
        margin-left: -53px;
    }

    #filtre_romantique {
        grid-area: 3/1;
        width: 11em;
        margin-right: 32%;
    }

    #filtre_animaux {
        grid-area: 4/1;
        width: 14em;
        margin-right: 18%;
    }

    #texte_filtre {
        align-items: center ;
        margin-left: 4%;
    }

    .infologo {
        border: 2px solid #f2f2f2;
        padding: 6px;
        border-radius: 50px;
        width: 14px;
        height: 14px;
        text-align: center;
        margin-right: 10px;
        color: #0065FC;
    }
    #Populaires {
        max-width: 767px;
        width: 95%;
        border-radius: 0;
        margin-left: 0px;
    }

    #HbtMarseille {
        display: flex;
        flex-direction: column-reverse;
    }


    .bloc_popu {
        height: 137px;
        width: 90%;
        padding: 4px;
        margin-left: 18px;
        border-radius: 16px;
    }

    .img-populaire {
        object-fit: cover;
        height: 100%;
        width: 38%;
        border-radius: 9% 0% 0% 9%;
    }

    #hebergements {
        max-width: 767px;
        display: flex;
        flex-direction: column;
        background: none;
        flex-basis: 65%;
    
        margin: 1% 1%;
        padding: 1em;
    }

    #hbt-grille {
         display: flex;
         flex-direction: column;
         margin-left: 7%;
    }

    .bloc_hbt {
        height: 200px;
        max-width: 767px;
        width: 100%;
        border-radius: 20px;
        padding: 5px;
        background: #FFFFFF;
        box-shadow: 1px 1px 12px #c1c7c7;
        margin-top: 10px;
        margin-left: -21px;
    }

    .img-hebergement{
        height: 65%;
        border-radius: 16px 16px 0px 0px;
    }

    #Activite {
        display: flex;
        flex-direction: column;
    }
    #actmars {
        margin: 17px;
    }
    

    .box-activité,  .box-activité2{
        height: 220px;
        max-width: 767px;
        width: 100%;
        border-radius: 20px;
        background: #FFFFFF;
        box-shadow: 1px 1px 12px #c1c7c7;
        margin-top: 10px;
        margin-left: 0px;
    
    }

    .img-activite, .img-activite2{
        width: 100%;
        height: 80%;
        border-radius: 16px 16px 0px 0px;
        object-fit: cover;
        display: flex;
        margin: auto;
    }

    #Activite h3 {
        margin-top: 2%;
        margin-left: 3%;
    }

    #footer{
        
        margin-left: -24px;
        max-width: 767px;
        width: 97%;
        flex-direction: column;
        padding-left: 40px;
        padding-top: 30px;
    }

    #apropos {
         margin-left: 0px; 
    }

}

@media screen and (min-width: 768px) and (max-width: 1430px) {
    
    body{
        max-width: 1430px;
       font-size: 100%;
       width: 90%;
    }

    #header{
        max-width: 1430px;
        width: 96%;
        margin: auto;
    }

    .linkheader {
        margin-left: 10%;
        margin-right: 10%;
    }

    #header_log{
        margin-right: 0%;
    }

    .icon_search {
        display : none;
        font-size: 0px;
    }

    #HbtMarseille {
        display: flex;
        flex-direction: column-reverse;
    }


    .bloc_popu {
        height: 180px;
        width: inherit;
    }

    #hebergements {
        max-width: 1430px;
        display: flex;
        flex-direction: column;
        background: none;
        flex-basis: 65%;
    
        margin: 1% 1%;
        padding: 1em;
    }

    #hbt-grille {
         display: flex;
         flex-direction: column;
    }

    .bloc_hbt {
        height: 245px;
        width: inherit;
        border-radius: 20px;
        padding: 5px;
        background: #FFFFFF;
        box-shadow: 1px 1px 12px #c1c7c7;
        margin: 15px;
    
    }

    .img-hebergement{
        height: 155px;
    }

    #Activite {
        display: flex;
        flex-direction: column;
    }
    #actmars {
        margin: 17px;
    }
    

    .box-activité,  .box-activité2{
        height: 220px;
        width: inherit;
        border-radius: 20px;
        background: #FFFFFF;
        box-shadow: 1px 1px 12px #c1c7c7;
        margin: 15px;
    
    }

    .img-activite, .img-activite2{
        width: 100%;
        height: 170px;
        border-radius: 15px 15px 0px 0px;
        object-fit: cover;
        display: flex;
        margin: auto;
    }

    #Activite h3 {
        margin-top: 2%;
        margin-left: 3%;
    }

    #footer{
        /*margin-left: -20px;*/
    }

    #apropos {
         margin-left: 0px; 
    }
}